<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CalendarioGerarOrg</title>

    @{
        /*   <environment include="Development">
               <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
           </environment>
           <environment exclude="Development">
               <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
                     asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                     asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
                     crossorigin="anonymous"
                     integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
           </environment>*/
    }

    <link href="~/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="container" style=" margin-left:unset">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Calendário GerarOrg</a>
    </div>

    <div class="wrapper">
        <nav class="navbar navbar-default sidebar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="menu nav navbar-nav">
                        <li class="active1" style="display:none">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a>
                        </li>
                        <!--
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                <li><a href="{{URL::to('createusuario')}}">Crear</a></li>
                                <li><a href="#">Modificar</a></li>
                                <li><a href="#">Reportar</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Informes</a></li>
                            </ul>
                        </li>-->
                        <li style="display:none">
                            <a asp-area="" asp-controller="Cidades" asp-action="index">Cidades <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a>
                        </li>
                        <li style="display:none">
                            <a asp-area="" asp-controller="Feriados" asp-action="list">Feriados Lista<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Feriados" asp-action="index">Feriados<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-picture"></span></a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Recessos" asp-action="index">Recessos<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-duplicate"></span></a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Calendario" asp-action="index">Calendário<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-calendar"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container main">
            @{//<partial name="_CookieConsentPartial" />
            }
            <div class="container-fluid" id="app">
                @RenderBody()
            </div>
        </div>
    </div>


    @{
        /*   <environment include="Development">
               <script src="~/lib/jquery/dist/jquery.js"></script>
               <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
           </environment>
           <environment exclude="Development">
               <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                       asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                       asp-fallback-test="window.jQuery"
                       crossorigin="anonymous"
                       integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
               </script>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                       asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                       asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                       crossorigin="anonymous"
                       integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
               </script>
           </environment>*/
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
